:root {
  --main-color: #aad500;
  --second-color: #333;
  --background-color: #acb1b6;
}

html {
  /* Box-model */
  box-sizing: border-box;
}

*,
*:after,
*:before {
  /* Box-model */
  box-sizing: inherit;
}

*::selection {
  /* Visual */
  background-color: var(--main-color);
}

body {
  /* Box-model */
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;

  /* Typography */
  font-family: "Lato", sans-serif;
  font-size: 13px;

  /* Visual */
  background-color: #fff;
  color: var(--background-color);
}

fieldset {
  /* Box-model */
  border: 0;
  margin: 0;
  padding: 0;
}

blockquote {
  /* Box-model */
  margin: 0;
}

h1,
h2,
h3,
h4,
figure,
p,
ul,
li {
  /* Box-model */
  margin: 0;
  padding: 0;
}

a,
a:hover {
  /* Visual */
  color: var(--main-color);
}
